

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "TAHOMA";
  
}

.benefit-wrapper{
  text-align:center;
  
  background-color: rgb(240, 239, 239);
  padding-bottom:80px;

}

.benefits{
  width:100%;
  
}

.benefit{
  float:left;
  display: block;
  padding-right: 20px;
  padding-left:20px;
  width:33.33%;
  float:left;

}

.benefit-icon img{
  height:200px;
  padding-bottom:20px;
  opacity:0.7;
  
}
.benefit-icon h2{
  
  color:rgb(80, 78, 78);
  padding-bottom:10px;
  
}
.text-contents{
  letter-spacing: 1px;
  color:rgb(80, 78, 78);
  
}

a {
  text-decoration: none;

  color:white;
}



.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width:100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 150px 40px 270px 0px;
display:flex;
  width: 100%;
  text-align: center;
  color: rgb(67, 72, 78);

  display:inline-block;
  background-size: cover;
}



.top-part{
  width: 100%;
  float:center;
  
  
 
}

.top-part img{
  position: relative;
  margin-left:150px;
  opacity:1;
  float:left;
  left:-40px;
  top:-80px;
  height:400px;
  box-shadow: 5px 5px slategray;
}


.menu-icon{
  float:right;
  color:rgb(41, 41, 41);
 display:none;
 PADDING-TOP:21PX;
 font-size:25PX;
 
  
}
li{
  list-style: none;
}

.col-md-5{
  padding-top:90px;
}
.col-md-4{

  background-color:  rgb(247, 247, 247);
  opacity:0.7;
  box-shadow: 5px 6px grey;
  padding-bottom:20px;
 
  border-radius: 40px ;
}

input,textarea{
  display:flex;
}

.top-wrapper h1 {
  
  font-size: 70px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  opacity:1;
}
.top-wrapper p {
  padding-bottom:5px;
  letter-spacing: 3px;
  margin-bottom: 3px;
}
.header-left a:hover{
  text-decoration: none;
 color:#53c96f;
 
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}
.green{
  font-size: 50px;
  color:#53c96f;
}


.btn-wrapper p {
  margin: 10px 0;
}

.order {
  margin-top:10px;
  background-color: #239b76;
}

.order-center {
  margin-top:10px;
  background-color: #239b76;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}
footer a{
  color:white;
}

footer a:hover{
  text-decoration:none;
  color:white;
}
.extra{
  font-size:70px;
  text-align:right;

}
header {

  height: 80px;
  width: 100%;
  background-color:  rgba(247, 247, 247, 0.37);
  position :fixed;
  top: ;
  z-index: 10;
  
}

.logo {
  font-size:30px;
  width: 140px;
  font-family: 'Trebuchet MS';
  margin-top: 10px;
  color:#53c96f;
}



.pd-t-30{
  padding-top:30px;
}
.header-left {
  float: left;
  padding-top:20px;
  color:#53c96f;
  display:block;
}


.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 80px;
  padding: 0 25px;
  color: rgb(0, 0, 0);
  display: block;
  float: left;
  transition: all 0.5s;
  text-decoration: none;
}

.header-right a:hover {
  background-color: rgba(206, 206, 206, 0.3);
  text-decoration: none;
  color:rgb(0, 0, 0) ;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}


.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;

  padding-bottom: 80px;
  padding-top:40px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

a:visited{
  text-decoration: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {

  padding-bottom: 20px;
}
.contact-wrapper p{
  margin-top:30px;
  margin-bottom:10px;
  
}

.contact-wrapper{
  padding-top:10px;
  padding-bottom:60px;

 
  background-color: white;
}

label span {
  color:red;

}

footer{
 

  height:150px;
  
  background-color:  rgb(69, 76, 83);
}

.footer-logo{
  float:left;
  color:white;
  font-size:32px;
  padding-left:40px;
  padding-top:20px;
}
.footer-list{
  float:right;
    color:white;
    padding-top:20px;
    padding-right:40px;
}


.footer-list li{
  padding-bottom:20px;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color:  rgb(247, 247, 247);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  
}
html {
  scroll-behavior: smooth;
}
.sidenav a {
  padding: 20px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #535353;
  display: block;
  transition: 0.3s;
 
}

.sidenav a:hover {
  color: #fffdfd;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}